body {
    background: url('skulls.png') repeat;
}
.navbar .row {
    padding-top: 0;
}
    .navbar .row .col-md-4:first-child + .col-md-4 {
        padding-left: 9px;
    }
.row {
    padding-top: 20px;
}
.content {
    float: left;
}
    .content.padded-top {
        padding-top: 20px;
    }
.streamList .alert {
    width: 100px;
    padding: 6px;
    margin-bottom: 10px;
}
.control-group {
    position: absolute;
    left: 160px;
}
.control-row {
    margin-bottom: 10px;
}
    .control-row label {
        width: 56px;
    }
#btnStopStream {
    display: none;
    width: 110px;
}
#divMouseMoveGenerator {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
    width: 110px;
    height: 200px;
}
